body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: black;
}

canvas {
  display: block;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 10;
}

/* Steering container */
#steering {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  z-index: 100;
  display: none; /* hidden by default */
}

/* Steering wheel */
#wheel {
  width: 100%;
  height: 100%;
  border: 5px solid white;
  border-radius: 50%;
  background: rgba(0,0,0,0.4);

  touch-action: none;
}
